 footer.sticky-footer {
    width: calc(100% - 90px) !important;
  }
  #datatables td
  {
    padding: 0px 0px 0px 10px;
  }


.loader 
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffffcf;
}
.loader img{
    position: relative;
    left: 50%;
    top: 50%;
    height: auto;
    width: 5%;
}

